git
node_modules
npm-debug.log*

.env
.env.local
.env.development
.env.test
.env.production

.vscode
.idea
*.swp
*.swo
*~

.git
.gitignore

docs/
*.md
!README.md

infrastructure/
*.tf
*.tfvars
*.tfstate*
.terraform/

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

logs
*.log

pids
*.pid
*.seed
*.pid.lock

coverage/
*.lcov

.nyc_output

jspm_packages/

.npm

.eslintcache

.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/

.node_repl_history

*.tgz

.yarn-integrity

.cache
.parcel-cache

.next

.nuxt

.vuepress/dist

.serverless/

.fusebox/

.dynamodb/

.tern-port